

*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EAEDFA;
    font-family: "Roboto", sans-serif;
}
#title{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
#care{
    color: #3951D1;
}
.mid-list{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.mid-list a{
    color: #6E7075;
    cursor: pointer;
    list-style-type: none;
    font-size: 1.3em;
    text-decoration: none;


}
.mid-list a:hover{
    color: #314ACF;
}
.userHandel{
    display: flex;
    gap: 1px;
    margin: px;
}
#Login {
    padding: 1em;
    border: none;
    cursor: pointer;    
    background: none;
    font-size: 1em;
    color: #6E7075;
    text-decoration: none;
}

#signUp{
    padding: 1em 1.5em;
    border: none;
    cursor: pointer;    
    background: #2F49CF;
    font-size: 1em;
    color: #ffff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder;
    align-self: center;
}

.userLoggedHandel Avatar{
    cursor: pointer;
}